<html>
<head>
	<title>Savages Ball Hockey - Player Availability Tracker</title>
	<link rel="stylesheet" href="/m/css/screen.css" type="text/css" media="screen, projection"> 
	<link rel="stylesheet" href="/m/css/print.css" type="text/css" media="print"> 
	<!--[if lt IE 8]><link rel="stylesheet" href="/m/css/ie.css" type="text/css" media="screen, projection"><![endif]-->
</head>

<body>
<div class="container">
	<br />
	<div class="span-24 last">
		<h1>Savages Ball Hockey - Player Availability Tracker</h1>
	</div>

	{% block login_bar %}
	<div class="prepend-18 span-6 last small append-bottom">
		Logged in as: <strong>{{ user.username }}</strong> | 
		<a href="{% url django.contrib.auth.views.logout %}">logout</a>
	</div>
	{% endblock %}

	{% block content %}


	{% endblock %}
</body>
</html>
