{% extends 'base.html' %}

	{% block login_bar %}
	<div class="prepend-20 span-4 last small append-bottom">
		<a href="{% url django.contrib.auth.views.login %}">Login</a>
	</div>
	{% endblock %}


{% block content %}

{% if form.errors %}
	<div class="error span-12 append-12 last">
	{{ form.errors }}
	</div>
{% endif %}

<form method="post" action="{% url hockey_register.register.views.add_player %}">
	<fieldset>
		<legend>Register</legend>
		<table>
		{{ form.as_table }}
		</table>
		<input type="submit" value="register" />
	</fieldset>
</form>

{% endblock %}

